<div class="row border-bottom" data-ng-controller="HeaderController">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup">
                <a href="/#!/signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin">
                <a href="/#!/signin">Sign In</a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right" data-ng-show="authentication.user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span data-ng-bind="authentication.user.username"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
        <div class="btn-group">
                           <button type="button" class="btn btn-primary dropdown-toggle btn-sm dim"
                              data-toggle="dropdown">Weather
                               <span class="fa fa-umbrella"> </span>
                           </button>

                           <ul class="dropdown-menu" role="menu">

                            <div class="ibox-content">

                            <table class="table table-hover">
                                <tr>
                                    <td>Weather </td>
                                    <td class="text-navy"> <i class="fa fa-sun"></i> {{weather_data.WeatherText}} </td>
                                </tr>
                                <tr>
                                    <td>Temperature</td>
                                    <td class="text-warning">  {{weather_data.Temperature.Metric.Value}}  {{weather_data.Temperature.Metric.Unit}}</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td class="text-navy"> {{location_data.LocalizedName}}</td>
                                </tr>
                            </table>
                        </div>

                            <!-- <ul class="list-unstyled file-list">


                            <li><a href=""><i class="fa fa-globe"></i> Weather : {{weather_data.WeatherText}}</a></li>
                            <li><a href=""><i class="fa fa-file-picture-o"></i> Temperature: {{weather_data.Temperature.Value}}</a></li>
                            <li><a href=""><i class="fa fa-stack-exchange"></i> Homework</a></li>
                            <li><a href=""><i class="fa fa-file"></i> Extra Materials</a></li>
                            <li><a href=""><i class="fa fa-file-powerpoint-o"></i> Video Lecture</a></li>
                            <li><a href=""><i class="fa fa-file"></i> More</a></li>
                        </ul> -->
                           </ul>
                        </div>
                        </ul>
    </nav>
</div>
