<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Syllabus</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>MATH 230</a>
                        </li>
                        <li class="active">
                            <strong>Syllabus</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="pull-right">
                                <button class="btn btn-white btn-xs" type="button">Model</button>
                                <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                <button class="btn btn-white btn-xs" type="button">Modern</button>
                            </div>
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                                <h1>
                                    Syllabus
                                </h1>
                            </div>
                            INSTRUCTORS:
FD SC 105: Food Facts and Fads (3 cr., GHA)
Spring 2016 T/R 2:30-3:45pm 111 Wartik Lab
Dr. Sara R. Milillo
437 Rodney A. Erickson Food Science Bldg. milillo@psu.edu
Office Hours: 8-10am on Wednesdays or by appt. (preferred)
Dr. Lahari Surapaneni
Lus29@psu.edu
  TEACHING ASSISTANT: Hali Hoch Hzh5200@psu.edu
Office hours: 3:30-5:30pm, Wednesdays
*The TA is located in the UG Lounge on the 2nd floor of the Food Science Bldg.
PRE-REQUISITE(S): None
COMMUNICATION: All email must be sent via your PSU account, preferably using the email function in ANGEL (https://cms.psu.edu), otherwise a reply is not guaranteed. The instructor will reply to time sensitive inquiries within 48h. Plan to check ANGEL regularly for new posts.
TEXTBOOK: “The Food System: A Guide” by G. Tansey and T. Worsley is available online through the PSU library. http://www.libraries.psu.edu/psul/home.html (search “food system” in the catalog search and it should be the first hit). PLEASE READ CAREFULLY: the textbook can be read online or can be downloaded as PDF files. I say PDFs plural because the chapters are NOT available as simply one PDF. To read “offline”, you must download several PDFs per chapter, each corresponding to a sub-set of the chapter’s pages.
OPTIONAL TEXT: Fox and Cameron’s Food Science, Nutrition, and Health (7th edition, 2006, ISBN 13: 978-1-4441-1337-2)
DESCRIPTION & GOALS: This is a general education course (Health and Physical Activity, GHA) that surveys the food system, including: U.S. food policy, food processing and distribution, food components/ingredients, the role of food in health, and scientific research being conducted in these various areas. Though it will be referenced frequently, please note, this is NOT a nutrition class. Current food trends (“fads”), such as organic foods, genetically- modified-organisms (GMOs), nutrition trends, and controversial food ingredients (e.g. Equal/Nutrasweet/Aspartame), will be discussed.
With regular attendance and completion of all assigned work, at the end of this course, students should be able to identify:
 the major components of the food system
 examples of the legal and economic constraints on foods and the role of governmental agencies in food production and sale
      1
                             techniques used in food processing/manufacture and how they relate to nutritional value
 ethical, cultural, and individualistic influences on food values and consumption  common hazards associated with foods and our role (as consumers) in food safety
The semester is roughly broken down into the following parts. In each of these parts, we will discuss current trends related to the food system. Details can be found in the course schedule located at the end of the syllabus.
Part 1 – Where does food come from and how is it regulated?
Trends discussed: paleo/raw foods diets, “chemicals in food” – sub-topics include Organic agriculture and genetically modified organisms
Part 2 – What happens to food prior to arriving in the grocery store? Trends discussed: label claims, processing, and ingredients
Part 3 – How does food get to us (consumers) and how do we interact it? Trends discussed: local food, eating behavior & food consumption
NOTE TAKING: Notes presented during class will differ from the outlines posted on ANGEL. If you miss class, it is strongly recommended that you get the notes you missed from a fellow classmate. Contact the TA if you have questions.
EVALUATION & GRADING:
Reading homework. Reading homework will be posted on ANGEL and you will have at
least 48h in which to submit. Typically, homework will consist of ~10 questions (for 10 pts). You will have two chances to complete each and the lowest score will be dropped. There will be no make-ups without extenuating circumstances. Readings are listed in the course outline at the end of the syllabus. Any additional readings will be announced in class. Out of all the reading homework over the course of the semester, the lowest one will be dropped.
Reflection assignments. Reflection assignments will be announced in class throughout the semester; instructions and/or supplementary material will be posted on ANGEL. These short assignments will include a mixture of formats and their due dates will vary. The lowest reflection assignment grade will be dropped. Late assignments will not be accepted and there are no make-ups without extenuating circumstances.
Exams. There will be two exams in the course, one mid-semester and one during finals week, each will be 25 pts. The exams will cover topics from the readings, class notes, and assignments and will focus on the first and second half of the semester, respectively. Baring extenuating circumstances (e.g. hospitalization, death in the family, etc.), there are NO make-up exams. Exams will be administered electronically via the Testing Center. See schedule at the end of the syllabus. More detailed information (e.g. room location) to follow. Questions regarding exams must be addressed within one week of taking the exam.
Participation. You are expected to participate in class as measured by clicker usage. New or used iClickers can be purchased from The Penn State Bookstore, Amazon.com, and various other sources. Please be certain to purchase an iClicker or iClicker+. You need to register your clicker using your Penn State Access Account ID (meaning the letter/number combination from your email address) at https://www1.iclicker.com/register-clicker/ or via
       2
                            ANGEL. You must “click in” at least X% of the time to get X pts (see below). Typically ~3-5 questions will be asked per class. Periodic updates to your participation grade will be posted on ANGEL.
% “Click In”
≥85
84-75
74-65
64-55
54-45
44-25
24-1 00
Extra Credit. Occasionally, opportunities may be offered for extra credit. In order to receive it, you must correctly answer the clicker question posed and points earned will count towards your overall grade. These opportunities will not be announced in advance. No “make- up” extra credit will be available.
Grade Criteria. Your grade in this course will be determined through the combination of reading homework, reflection assignments, exam scores, and participation as follows:
-Reading homework (13 @ 10 pts each, lowest dropped) 120 -Reflection assignments (6 @ 10 pts each, lowest dropped) 50
Final grades will be assigned by dividing the number of points earned by the total number of points. All grades of ≥0.5 will be rounded up to the nearest whole number (e.g. 89.5  90). The final letter grade will be based on this calculation and using following breakdown:
Letter Grade A
A- B+ B B- C+ C D F
Final % 92-100 90-91 87-89 82-86 80-81 77-79 70-76 60-69 ≤59
Participation pts
  -Exams (2 @ 25 pts each) -Participation
Total
50 25
25
21
19
16
14
11
6
245 points
  OTHER:
Guest Lectures. Guest lecturers may present in class during the semester and material
presented by guest lecturers may be included on assignments/exams.
Classroom Expectations. In order to create an environment where everyone feels comfortable, I expect that everyone will be treated with respect and courtesy. Distractions to the students around you (repeatedly coming late, reading the newspaper, conducting side conversations during class, inappropriate use of a cell phone/laptop, etc.) may result in a penalty to your grade.
3
                            Academic Integrity Statement. Academic integrity is very important to me and Penn State takes violations of it very seriously. Academic integrity is the pursuit of scholarly activity in an open, honest and responsible manner. It includes a commitment not to engage in or tolerate acts of falsification, plagiarism, misrepresentation or deception. Such acts of dishonesty violate the fundamental ethical principles of the University community and compromise the worth of work completed by others (see Faculty Senate Policy 49‐20 and G‐9 Procedures) http://studentaffairs.psu.edu/conduct/codeofconduct.
Academic Integrity Guidelines for the College of Agricultural Sciences can be found at
http://agsci.psu.edu/students/resources/academic-integrity
A lack of knowledge or understanding of the University’s Academic Integrity policy does NOT excuse one from complying with the policy. All violations of academic integrity will result in, at minimum, a grade of a zero (0) for the assignment.
Disability Statement. Penn State welcomes students with disabilities into the University's educational programs. In order to receive consideration for reasonable accommodations, you must contact the appropriate disability services office at the campus where you are officially enrolled, participate in an intake interview, and provide documentation: http://equity.psu.edu/ods/guidelines. If the documentation supports your request for reasonable accommodations, your campus’s disability services office will provide you with an accommodation letter. Please share this letter with your instructors and discuss the accommodations with them as early in your courses as possible. You must follow this process for every semester that you request accommodations.
Course Outline as of 1/6/16
‘*’ Indicate when reading homework will be assigned. Changes may happen and it is your responsibility to keep up to date.
             Wk
   Date
 Title
     Reading
     1
      T, 1/12
   Review Syllabus
      Chapter 1 – Introduction
      R, 1/14
Food: how we got where we are today
  Chapter 3 – Modern Food
     2
      T, 1/19
   Overview of US/PA Food Production
            R, 1/21*
Laws and Policies Surrounding Food
  “History of U.S. Ag” (ERS/USDA) & Chap 9 – Food Law and Food Policy
     3
      T, 1/26
               R, 1/28*
Agricultural Methods 1: “Conventional”
  Chap 5 – Farmers, workers, and traders
     4
      T, 2/2
                  R, 2/4*
  GUEST LECTURE: Rice Family/Clover Creek Farm & Cheese Cellar
        5
 T, 2/9
Research & Communicating Science Related to Food
  Chap 2 – Food and the Biosphere
        R, 2/11*
 Agricultural Methods 2: Organic, Local
          6
      T, 2/16
               R, 2/18*
Agricultural Methods 3: Biotech
  Chap 8 – Tools for Control, “Food Safety of Genetically...” & “Transgenic Crops and Recombinant...” (Nature)
     7
   T, 2/23
                 R, 2/25*
   Food Labels & Claims
      Chapter 7 & “Food Labels”
   4
                                          (Cornell), “Dating Game” (Harvard & NRDC)
                8
T, 3/1
             R, 3/3
EXAM 1
           9
3/6/15- 3/10/15
NO CLASS – SPRING BREAK
              10
T, 3/15
GUEST LECTURE: Doug Peck/Silgan Containers
              R, 3/17*
Basics of Food Processing
“Overview of Food Preservation Techniques” (Nutrition & You), “Food Processing” (Johns Hopkins), & “Origins of Food Preservation” (UGA)
              11
T, 3/22
Food Waste, Preservation, and Fermented Foods
“Essentials of fermented foods and beverages” (UN/FAO)
              R, 3/24*
              12
T, 3/29
Food Ingredients: Part 1 (intro & colors)
“Food Additives and Colors” (FDA)
              R, 3/31*
Food Ingredients: Part 2 (Carbohydrates, Sugar, & Alternative Sweeteners)
“Sugar Substitutes” (AAFP)
              13
T, 4/5
Food Ingredients: Part 3 (Proteins & Food Allergies)
“Dietary Protein” & “Food Allergy” (NIH)
              R, 4/7*
“Fat Basics” x3 (NIH) & “Fat Replacers” (IFT)
              14
T, 4/12
Food Ingredients: Part 4 (Fats & Fat Replacers)
              R, 4/14*
Food Ingredients: Part 5 (Vitamins, Supplements, & Others)
“Dietary Supplements” (NIH) “Antioxidants” (Harvard) & “Phytochemicals” (USDA/ARS)
              15
T, 4/19
              Food Distribution & Transport
Chap 6 – Processors, distributors, and traders & “Food Distribution and Transport” (Johns Hopkins)
              R, 4/21*
GUEST LECTURE: Dr. Alyssa Chilton/Sensory Science
“The Chemical Senses- Taste” (Saladin)
 TENTATIVE
              16
T, 4/26
Behavioral Psychology & Food Consumption
Chap 4 – Food, Culture, and Human Needs
              R, 4/28*
Food Handling & Food Safety
             17
5/2/15-
5/6/15 finals week
EXAM 2
         Lessons highlighted in RED to be lead by Dr. Surapaneni.   For Exam 2, watch eLion for time/date information!
5

                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                        <h5>Tags:</h5>
                                        <button class="btn btn-primary btn-xs" type="button">Model</button>
                                        <button class="btn btn-white btn-xs" type="button">Publishing</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="small text-right">
                                        <h5>Stats:</h5>
                                        <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                        <i class="fa fa-eye"> </i> 144 views
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">

                                    <h2>Comments:</h2>
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                <img alt="image" src="img/a1.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    Andrew Williams
                                                </a>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                                default model text.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                <img alt="image" src="img/a2.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    Michael Novek
                                                </a>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                                in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                                default model text.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                <img alt="image" src="img/a3.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    Alice Mediater
                                                </a>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                                in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                                default model text.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="social-feed-box">
                                        <div class="social-avatar">
                                            <a href="" class="pull-left">
                                                <img alt="image" src="img/a5.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="#">
                                                    Monica Flex
                                                </a>
                                                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                            </div>
                                        </div>
                                        <div class="social-body">
                                            <p>
                                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                                in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                                default model text.
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
