    <div data-ng-controller="ProfController">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Prof Moudule</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#!/admin">Dashboard</a>
                        </li>
                        <li class="active">
                            <strong>Prof Moudule</strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Prof Database</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" datatable="" dt-options="dtOptions" dt-columns="dtColumns">
                        </table>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Prof Instance</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div data-ng-show="!data" class="text-center text-danger">
                            <strong>No data selected</strong>
                        </div>
                        <div data-ng-show="data" class="text-center text-danger">
                            <strong data-ng-bind="data"></strong>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Prof API Wiki</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>URL</th>
                                <th>HTTP Method</th>
                                <th>Description</th>
                                <th>Role</th>
                                <th>Version</th>
                                <th>State</th>
                                <th>Implemented</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in apiList.items">
                                <td>{{$index + 1}}</td>
                                <td>{{item.url}}</td>
                                <td>
                                    <span ng-if="item.method === 'get'" class="label label-primary">GET</span>
                                    <span ng-if="item.method === 'post'" class="label label-warning">POST</span>
                                    <span ng-if="item.method === 'put'" class="label label-info">PUT</span>
                                    <span ng-if="item.method === 'delete'" class="label label-danger">DELETE</span>
                                </td>
                                <td>{{item.description}}</td>
                                <td>
                                    <p ng-if="item.role === 'user'" class="text-warning"><i class="fa fa-users"></i> USER</p>
                                    <p ng-if="item.role === 'everyone'" class="text-danger"><i class="fa fa-users"></i> EVERYONE</p>
                                    <p ng-if="item.role === 'admin'" class="text-navy"><i class="fa fa-user"></i> ADMIN</p>
                                </td>
                                <td>{{item.version}}</td>
                                <td>
                                    <p ng-if="item.state === 'stable'" class="text-navy"><i class="fa fa-thumbs-up"></i> STABLE</p>
                                    <p ng-if="item.state === 'unstable'" class="text-warning"><i class="fa fa-play fa-thumbs-down"></i> UNSTABLE</p>
                                    <p ng-if="item.state === 'deprecated'" class="text-danger"><i class="fa fa-times"></i> DEPRECATED</p>
                                </td>
                                <td>
                                    <p ng-if="item.implemented === 'false'" class="text-danger"><i class="fa fa-times"></i></p>
                                    <p ng-if="item.implemented === 'true'" class="text-navy"><i class="fa fa-check"></i></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>